main {
	margin: 5px;
}



a.nounderline:link {
	text-decoration:none;
}

h1.cabecalho {
	color: black;
}

.logo {
float: left;
max-width: 40px;
max-height: 120px;

}





/*
.container {
	margin-right: 10px;
	margin-left: 10px;
	background-color: lightgray;

}

*/