main {
	margin: 5px;
}

.nounderline:any-link {
	text-decoration:none;
	color: black;
}



.logo {
float: left;
max-width: 40px;
max-height: 120px;

}

#conteudo > div > div {

	height: 800px;
}

.produto {

	max-width: 150px;
	max-height: 150px;
}

#produto {
	height: 350px;
}


/*
.container {
	margin-right: 10px;
	margin-left: 10px;
	background-color: lightgray;

}

*/