main {
	margin: 3px;
}

.nounderline:any-link {
	text-decoration:none;
	color: black;
}

#logoloja {
	width: 100px;
	height: 50px;
}

.logo {

max-width: 90px;
max-height: 40px;

}

#conteudo > div > div {

	height: 800px;
}

.produto {

	max-width: 150px;
	max-height: 150px;
}

#produto {
	height: 350px;
}


#navbarSupportedContent {
	flex-grow: 0;
}

.barranavegacao {
	background-color: #BBDAE7;
}

.rodapebotoes {
	background-color: #0a4275;
}

.rodapecopyright {
	background-color: #96BACA;
}



input:focus, .btn:focus, select:focus {
  
	-webkit-box-shadow: none !important;
	box-shadow: 0 0 0 0 !important;
}

.form-check-input:checked {

	border-radius: 0;
}

.album .card {

	overflow: hidden;
}

.album .card img:hover {
	-webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);

}

.album .card img {
	max-width: 100%;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;

}



/*
.container {
	margin-right: 10px;
	margin-left: 10px;
	background-color: lightgray;

}

*/